{% extends "core/base.html" %}
{% block title %} Home {% endblock  %}
{% load static %}
{% block content%}
<div class="container">
        <div class="row">
            <!-- formulario para ingresar un grafo (v,a) -->
            <div class="col-lg-4 col-md-12 bg-white rounded shadow">
                <div class="row my-2 d-flex justify-content-around">
                    <div class="">Tipo de Grafo</div>
                     <select class="custom-select mx-2 my-2" id="tipoGrafo" aria-placeholder="leo">
                          <option selected>Selecciona un Grafo</option>
                          <option value="Simple">Simple</option>
                          <option value="Dirigido">Dirigido</option>
                          <option value="Etiquetado">Etiquetado</option>
                    </select>
                </div>
                <div class="row my-2">
                    <div class="col-8"><label class="pt-2">N° Vértices</label></div>
                    <div class="col-4"><input type="number" class="form-control mx-2" id="vertices" placeholder="n°" min="1"></div>
                </div>
                <div class="row my-2">
                    <div class="col-8"><label class="pt-2">N° Aristas</label></div>
                    <div class="col-4"><input type="number" class="form-control mx-2" id="arista" placeholder="n°" min="1"></div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-primary" id="inputArista">Ingresar Aristas</button>
                </div>
                <div class="row my-2" id="nArista"></div><hr>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-primary" id="inputGrafo">Ingresar Grafo</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}