{% extends "core/base.html" %}
{% block title %} Home {% endblock  %}
{% load static %}
{% block content%}
<div class="container bg-white rounded shadow">
    <div class="row my-3">
        <div class="col-12 d-flex justify-content-center mt-4">
            <h4 id="title">Trabajo Unidad I</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 my-4">
            <p>De acuerdo a los conocimientos adquiridos durante la 1<sup>era</sup> Unidad de la asignatura de
            <i class="fas fa-project-diagram fa-sm mx-1"></i><strong>Grafos y Lenguajes Formales</strong>. Se a desarrollado una implementación web para la creación y analisis de Grafos, de acuerdo a unos parámetros de entrada (Vértices y Aristas).
            </p>
            <br>
            <p>Podrás obtener información variada de Grafos, visualizarlos y más. Todo al alcance de unos cuantos <kbd class="bg-primary">Click!</kbd></p>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex align-items-center">
            <ul class="pl-3">
                <li class="my-3" id="ticket">
                    <i class="fas fa-check fa-lg mx-1" id="idTicket"></i>
                    Ingresa distintos tipos de Grafos.
                </li>
                <li class="my-3" id="ticket">
                    <i class="fas fa-check fa-lg mx-1" id="idTicket"></i>
                    Visualiza la matriz de caminos y si el grafo es o no conexo.
                </li>
                <li class="my-3" id="ticket">
                    <i class="fas fa-check fa-lg mx-1" id="idTicket"></i>
                    Analiza si tu grafo es Hamiltoniano y/o Euleriano.
                </li>
                <li class="my-3" id="ticket">
                    <i class="fas fa-check fa-lg mx-1" id="idTicket"></i>
                    Observa el flujo máximo para un vértice de entrada y otro de salida.
                </li>
                <li class="my-3" id="ticket">
                    <i class="fas fa-check fa-lg mx-1" id="idTicket"></i>
                    Obten el árbol generador mínimo mediante Prim o Kruskal.
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center my-3 pb-3">
            <a href="{% url 'grafos' %}" id="btnComenzar" style="text-decoration:none">Ingresa un Grafo</a>
        </div>
    </div>
</div>
{% endblock %}