@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
    --marineBlue: #043353;
    --lightBlue:#18A4E0;
    --nordicBreeze: #D3DDE6;
}
nav{background-color:var(--marineBlue);}
p{font-size: 18px;}
strong{color: var(--marineBlue);}

footer{
    background-color: var(--lightBlue);
}

#navtitle{
    font-family: 'Acme', sans-serif;
    color: white;
}

#menu{
    font-family: 'Acme', sans-serif;
    color: white;
}

#menu:hover{
    background-color: #3a5c80;
    border-radius: 0.3rem;
}

#title{
    font-family: 'Acme',sans-serif;
    color: var(--marineBlue);
    font-size: 40px;
}

#btnComenzar{
    width: 200px; height: 40px;
    padding: 4px;
    font-size: 18px;
    text-align: center;
    color: var(--marineBlue);
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--marineBlue);
    border-radius: 0.5rem;
    cursor: pointer;
}

#btnComenzar:hover{
    background-color: var(--marineBlue);
    color: white;
}

#ticket{
    list-style: none;
    font-size: 18px;
}

#idTicket{
    color: var(--marineBlue);
}

#idTicket:hover{
    color: red;
}

